extends layout

block container
      //
         Main hero unit for a primary marketing message or call to action 
      .hero-unit
        h1 Welcome to #{title} !
        p
          | This is an application to read rss feed.
        p
          a.btn.btn-primary.btn-large Learn more »
      //
  
  
