extends layout

block container
    .container-fluid
        .row-fluid
            .span3
              .span3
              a#subscribe.btn.btn-large.btn-primary(href='#', data-toggle='popover', title='', data-placement='bottom', data-content='<form class=\"form-horizontal\"><div class=\"control-group\"><div class=\"controls form-inline\"><input type=\"text\" data-provide=\"typeahead\"> <a href=\"add-subscription\"class=\"btn \">Add</a></div></div></form>') Subscribe
              .well.sidebar-nav
                ul.nav.nav-list
                  li.active
                    a(href='#') Link
                  li
                    a(href='#') Link
                  li
                    a(href='#') Link
                  li
                    a(href='#') Link
              //
                /.well 
            //
              /span
            .span9
              .hero-unit
                h1 Hello, world!
                p
                  | This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                p
                  a.btn.btn-primary.btn-large(href='#') Learn more »
              //
                /row
            //
              /span
          //
            /row
